@media only screen and (min-width: 768px) {

/* Inicio newsletter */
    #main {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'newsletter fondo';
    }
    #newsletter {
        grid-area: newsletter;
        margin: auto;
    }
    #fondo {
        grid-area: fondo;
        margin: auto;
    }
    /* final newsletter */
    /* --------------------------------------------------------------- */
    /* inicio servicios */
    #contenedorServicio{
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-areas:'trans asesoría talleres';
    }
    #trans {
        grid-area: trans;
    }
    #ases {
        grid-area: asesoría;
    }

    #taller {
        grid-area: talleres;
    }
    /* final servicios */
    /* --------------------------------------------------------------------- */
    /* Inicio about */
    #about {
        display:grid;
        grid-template-rows: 2 auto;
        grid-template-columns: 50% 50%;
        grid-template-areas: 'beca lic' 'beca activista';
    }
    #becafoto {
        grid-area: beca;
    }
    #about h2 {
        grid-area: lic;
        margin: auto auto auto 0;
    }
    #about p {
        grid-area: activista;
        margin: 0 auto auto auto;
    }
    /* final about */
     /* ------------------------------------------------------------------------ */
     /* inicio post-blog */
     .container1 {
        display: inline-block;
        margin-left:3%; 
     }
     /* final post-blog */
     /* ------------------------------------------------------------------------ */
     /*inicio single.php*/
     .single {
        display: grid;
        grid-column-gap: 50px;
        grid-template-rows: auto;
        grid-auto-columns: 30% 60%;
        grid-template-areas: 'singletitle singlearticle'
         'singleimage singlearticle' 'singlebutton singlearticle' '. singlearticle' '. singlearticle' '. singlearticle' '. singlearticle' '. singlearticle';
         justify-content: center;
     }
     .singletitle{
        grid-area: singletitle;
     }
     .singlethumbnail {
       
        grid-area: singleimage;
     }
     .singlearticle{
        grid-area: singlearticle;
     }
     .singlebutton {
        grid-area: singlebutton
     }
     /*final single.php*/


  }