/*#talleres {
    margin: auto 10px;
    box-sizing: border-box;
}
#talleres article blockquote{
    max-height: 300px;
}

#talleres h2 {
    color: #3c0283;
}

#detalles p{
    font-size: 24px;
    margin: 10px auto;

}*/